.row{
    overflow: hidden; 
}

[class*="col-"]{
    padding-top: 5px;
    margin-top: 0px !important;
    margin-left: 0px;
    margin-right:0px; 
    margin-bottom: -99999px;
    
    padding-bottom: 99999px;
    border-radius: 0px;
}


body {
	background-color: black;

}

.jumbotron {
	font-size: 50px;
	color: white;
	background-color: black;
	
		

}

